extends layouts/default.jade

block content
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(href="#/") OurStats

    .container(ng-view)