extends layouts/default.jade

block content
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(href="#/") OurStats

            ul.nav.navbar-nav
                li
                    a(href="#/apps") My Apps

                li
                    a(href="#/apps/new") New app

                li
                    a(href="#/account/edit") Profile

    .container(ng-view)