extends layouts/default.jade

block content
    .jumbotron
        h1.display-3 Welcome to OurStats!
        p.lead This is a simple stats application
        hr.m-y-md

        p.lead
            .row
                .col-xs-12.col-md-1
                    a.btn.btn-primary.btn-lg(href="#" role="button") Sign in

                .col-xs-12.col-md-1
                    a.btn.btn-success.btn-lg(href="#" role="button") Sign up