html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="/stylesheets/test.css")
    script(type="text/javascript", src="/javascripts/test.js")
body
    h1 Hello, world!