.row.m-t-md
    .col-xs-12.col-md-6
        h3 Application settings
        form
            fieldset.form-group
                input.form-control(type="text" placeholder="Name")
            fieldset.form-group.text-center
                .btn.btn-danger Reset stats
            fieldset.form-group.text-center
                button.btn.btn-success(type="submit") Save
