.jumbotron
    h1.display-3(ng-if="!user") Welcome to OurStats!
    h1.display-3(ng-if="user") Welcome, {{ user.name }}!
    p.lead
        | This is a simple stats application.
        | Currently we are serving {{ apps }} applications.
        | Join to track yours too!

    .new-user-controls(ng-if="!user")
        hr.m-y-md

        p.lead
            .row
                .col-xs-12.col-md-1
                    a.btn.btn-primary.btn-lg(href="#/sign-in" role="button") Sign in

    .existing-user-controls(ng-if="user")
        hr.m-y-md

        p.lead
            .row
                .col-xs-12.col-md-1
                    a.btn.btn-success.btn-lg(href="#/apps" role="button") Go to your apps
