.jumbotron
    h1.display-3 Welcome to OurStats!
    p.lead This is a simple stats application
    hr.m-y-md

    p.lead
        .row
            .col-xs-12.text-center
                a.btn.btn-success.btn-lg(href="#/new-session" role="button") Sign in