.row
    .col-xs-12.col-md-6.text-left
        a.btn.btn-sm.btn-default(href="#/applications") Back

    .col-xs-12.col-md-6.text-right
        form.form-inline(ng-submit="update()")
            .form-group
                input.form-control(type="text" placeholder="From date" ng-model="fromDate")
            .form-group
                input.form-control(type="text" placeholder="To date" ng-model="toDate")
            .form-group
                button.btn.btn-primary(type="submit") Update

.vspace

.row
    .col-xs-12
        .well
            | You can track your application visitors with this URL:
            br
            | http://localhost:3000/track/{{ application.token }}

.row.m-t-md
    .col-xs-12
        h3 Visitors
        .well
            | Chart goes here

    .col-xs-12.col-md-6
        h3 Visitors by country

        table.table.table-bordered
            thead
                tr
                    th Country
                    th Visitors
            tbody
                tr(ng-repeat="stat in application.stats.byCountry")
                    td {{ stat.country }}
                    td {{ stat.amount }}